## DATA CLEANING WITH PYTHON TUTORIAL

#### The goal of this tutorial is to get you started with Python and using Pandas library to practice data cleaning tasks. We will use the same dataset as in the OpenRefine assignment in order to demonstrate how these tasks could be done differently in Python verus other tools such as OpenRefine.

Task 1: Import and initial analysis of data

Task 2: Handle text fields (basic text transformation)

Task 3: Handle missing values

Task 4: Manipulate data for analysis purposes/use cases

Task 5: Advanced data cleaning tasks (clustering)

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
from IPython.display import display

/opt/conda/lib/python3.6/site-packages/numexpr/expressions.py:18: UserWarning: Module six was already imported from /opt/conda/lib/python3.6/site-packages/six.py, but /home/lhoang2/DataCleaning_Python_Tutorial_SP2020 is being added to sys.path
  from pkg_resources import parse_version

### Loading data

In [3]:
# Load data from Airbnb listings csv file
airbnb_df = pd.read_csv("~/DataCleaning_Python_Tutorial_SP2020/Airbnblistings_dirty_noSpeChar_2020.csv")
# Now your dataset is loaded into a dataframe called "airbnb_df"
# Display the dataframe
display (airbnb_df)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,(Hyde Park - Walk to UChicago/Theological Semi...,2613,Rebecca,NaN,hyde park,41.788865,-87.586709,Private room,50,2,137,11/12/18,2.92,1,163
1,6715,(Lincoln Park Oasis - Unit 2 ONLY),15365,Reem,n/a,OHARE,41.929262,-87.660091,Entire home/apt,255,4,93,8/12/18,0.81,2,303
2,7126,(Tiny Studio Apartment 94 Walk Score),17928,Sarah,NaN,West Town,41.902895,-87.681822,Entire home/apt,80,2,321,10/29/18,2.81,1,362
3,9811,(Barbara's Hideaway - Old Town),33004,At Home Inn,NaN,Lincoln Park,41.917689,-87.637879,Entire home/apt,150,3,33,10/14/18,0.59,9,350
4,10610,(3 Comforts of Cooperative Living),2140,Lois And Ed,NaN,hyde park,41.797085,-87.591949,Private room,35,2,31,7/29/18,0.63,5,179
5,10945,(The Biddle House (#1)),33004,At Home Inn,n/a,Lincoln Park,41.911827,-87.639998,Entire home/apt,215,3,9,11/5/18,0.16,9,357
6,12068,(Chicago GOLD COAST 1 Bedroom Condo),40731,Dominic,NaN,Near North Side,41.904521,-87.633200,Entire home/apt,99,165,8,10/24/17,0.18,2,303
7,12140,(Lincoln Park Guest House),46734,Sharon And Robert,NaN,Lincoln Park,41.923353,-87.649510,Private room,289,2,4,10/17/18,0.10,1,169
8,22362,(*** Luxury in Chicago! 2BR/ 2Ba / Parking / B...,85811,Craig,NaN,West Town,41.896168,-87.660411,Entire home/apt,99,60,9,10/12/14,0.15,1,280
9,22651,(beautifully furnished 3 bed/1bath 1),87231,Jeff And JoAnne,n/a,Lake view,41.949105,-87.657906,Entire home/apt,185,1,174,10/21/18,1.69,17,71
10,24833,(Private Apt 1 Block to Fullerton L Red Line -...,101521,Red,NaN,Lincoln Park,41.926791,-87.655211,Entire home/apt,99,32,37,7/29/18,0.36,4,341
11,25267,(Wrigleyville beautifully furnished 3 bedroom #2),87231,Jeff And JoAnne,NaN,Lake view,41.947507,-87.659284,Entire home/apt,105,1,166,10/21/18,1.67,17,64
12,25269,"(Old Town, Furnished 2 bedroom: SWG)",87231,Jeff And JoAnne,NaN,Lincoln Park,41.914226,-87.638461,Entire home/apt,115,1,172,10/15/18,1.68,17,165
13,25879,(Top 2/1 Block to Fullerton L Red Line Deck &...,101521,Red,n/a,Lincoln Park,41.926935,-87.657527,Entire home/apt,99,32,43,9/18/17,0.42,4,162
14,37738,(Andersonville - Perfect location!),162364,Mat\tAnd\tRandy,NaN,Uptown,41.973846,-87.665389,Private room,74,3,240,10/29/18,2.37,1,234
15,39742,(Central guestroom! Walk everywhere!),170758,Eric,NaN,Near North Side,41.893775,-87.634652,Private room,75,3,452,10/21/18,4.59,1,17
16,44020,(2 Bedroom 1 Block to Fullerton L - Garage Avail),101521,Red,NaN,Lincoln Park,41.926730,-87.657307,Entire home/apt,80,32,50,10/1/17,0.57,4,235
17,46151,( Furnished Junior 1 Bedroom :SW1R),87231,Jeff And JoAnne,NaN,Lincoln Park,41.913306,-87.639645,Entire home/apt,75,1,223,10/27/18,2.24,17,85
18,46154,(Old Town Lincoln Park studio: 2F),87231,Jeff And JoAnne,n/a,OHare,41.912872,-87.639788,Entire home/apt,65,1,219,10/21/18,2.21,17,75
19,49893,(1 Bedrm 1 block from Wrigley Field),87231,Jeff And JoAnne,NaN,Lake view,41.949183,-87.658459,Entire home/apt,70,1,257,10/29/18,2.60,17,45
20,53497,(#Wrigley 2 BD /2 Bath Duplex: OD2F),87231,Jeff And JoAnne,NaN,Lake view,41.935409,-87.667114,Entire home/apt,95,1,75,10/28/18,0.76,17,54
21,56802,(Beautiful 2 BR Old Town Lincoln Pk),87231,Jeff And JoAnne,NaN,Lincoln Park,41.912642,-87.639794,Entire home/apt,155,1,243,10/22/18,2.53,17,50
22,71930,"(Rest, Relax and Explore)",334241,Michael And Veronica,NaN,West Town,41.896866,-87.679889,Private room,57,4,50,10/28/18,0.55,2,137
23,79101,(5 ST?R Cubs/Riviera/AragonTRAIN2Bdrms/Ba),272671,Two For The Road,NaN,Uptown,41.967924,-87.657569,Private room,180,2,146,10/14/18,1.57,4,365
24,80640,(charming Logan Sqare 2bdrm greystone on Blue ...,376916,Dean,NaN,Logan Square,41.924621,-87.704684,Entire home/apt,155,2,50,10/21/18,0.57,1,362
25,84042,(The Explorer Room),334241,Michael And Veronica,NaN,West Town,41.896931,-87.680329,Private room,57,3,47,10/30/18,0.51,2,167
26,110705,(Fab Value!/ Spa /Deck/ARAGON/RIVIERA/TRAIN/CU...,272671,Two For The Road,NaN,Uptown,41.969302,-87.656213,Private room,99,2,131,11/11/18,1.44,4,360
27,126280,"(Near Lake, Wrigley and Weiss Hospital)",626517,Gail,NaN,Uptown,41.968038,-87.651228,Private room,48,3,137,10/15/18,1.52,1,214
28,131096,(Reliable Host + Comfy Double Bed),645234,Carol,NaN,Avondale,41.933612,-87.719766,Private room,80,4,91,8/13/18,2.52,1,0
29,144840,(Great 3 Bedroom in Great Wrigley/Lakeview Loc...,701615,Daniel,NaN,Lake view,41.940794,-87.657632,Entire home/apt,225,2,2,10/9/18,0.06,1,284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7564,29970328,"(Cozy 2BR Apartment Near Downtown, UIC & Rush)",186473797,MD Residential,NaN,Near West Side,41.868652,-87.656659,Entire home/apt,155,1,0,NaN,NaN,4,85
7565,29979448,(Magnificent art-filled loft in Chicago's Loop!),206244817,Hermes Homes,NaN,Near South Side,41.861278,-87.626246,Entire home/apt,149,2,0,NaN,NaN,2,88
7566,29979674,(LUX 2BR/2BA on the PARK in Downtown Chicago),63313003,K,NaN,L??p,41.886945,-87.617423,Entire home/apt,190,30,0,NaN,NaN,17,365
7567,29982543,"(Artsy Bucktown, Chicago home : First Floor Be...",42122429,Mark,NaN,Logan Square,41.916645,-87.681146,Private room,60,1,1,11/14/18,1.00,4,74
7568,29982622,(Better Than a Hotel!! Lakeview East/Wrigleyvi...,58253007,Donna,NaN,Lake view,41.942855,-87.650322,Private room,275,2,0,NaN,NaN,1,14
7569,29983208,(modern studio in west loop),32528690,Soomi,NaN,Near West Side,41.880258,-87.642352,Entire home/apt,100,1,0,NaN,NaN,1,23
7570,29985017,(Luxury living downtown. Monthly rental only!),11978751,Mark,NaN,Near South Side,41.867327,-87.620458,Entire home/apt,250,30,0,NaN,NaN,1,321
7571,29985217,(Massive 2-Story Home ??? Lincoln Park w/ Balc...,136116380,Michael,NaN,Lincoln Park,41.920665,-87.656454,Entire home/apt,399,2,0,NaN,NaN,1,358
7572,29987589,(Spacious 2 bed in Near West! Cozy and conveni...,32632002,Ali,NaN,Near West Side,41.882046,-87.680859,Entire home/apt,75,2,1,11/14/18,1.00,1,68
7573,29989492,(Charming Garden Apartment Near UIC & Free Par...,186473797,MD Residential,NaN,Near West Side,41.871340,-87.656378,Entire home/apt,159,1,0,NaN,NaN,4,81
7574,29995896,(Spacious 1BR in Hyde Park with park view),14371557,Michal,NaN,hyde park,41.796020,-87.594014,Entire home/apt,44,3,0,NaN,NaN,1,3
7575,30010595,"(Cozy Stydio Near Chicago Theatre, Millennium ...",224289948,Valdiane,NaN,L??p,41.887169,-87.618627,Entire home/apt,150,1,0,NaN,NaN,1,2
7576,30012951,(Modern 3 Bedroom 2 Bath Apartment in Wrigleyv...,8738514,Robert,NaN,Lake view,41.940952,-87.652957,Entire home/apt,163,2,0,NaN,NaN,4,315
7577,30013572,(Modern 3 Bedroom 2 Bath Apartment w/ Free Par...,8738514,Robert,NaN,Lincoln Park,41.917665,-87.649192,Entire home/apt,245,2,0,NaN,NaN,4,315
7578,30014118,(Single Bed in Shared Room #1),41676630,Pete,NaN,West Town,41.907390,-87.691462,Shared room,24,1,0,NaN,NaN,5,83
7579,30014242,"(BEAUTIFUL DOWNTOWN ROOM & PARKING, 7 MIN TO W...",55976787,Natalia,NaN,Near West Side,41.879350,-87.638770,Private room,10,1,0,NaN,NaN,34,356
7580,30014468,(Bottom Bunk - Shared Room),41676630,Pete,NaN,West Town,41.906761,-87.690988,Shared room,39,1,0,NaN,NaN,5,84
7581,30014520,(Top Bunk - Shared Room),41676630,Pete,NaN,West Town,41.908361,-87.690779,Shared room,39,1,0,NaN,NaN,5,84
7582,30016223,"(PERFECT ROOM TO SEE CHICAGO, FREE PARKING)",55976787,Natalia,NaN,Near West Side,41.879851,-87.643348,Private room,10,1,0,NaN,NaN,34,362
7583,30023762,(Close to Downtown Chicago. Sleeps up to 4 peo...,223534020,Fortino,NaN,Brighton Park,41.810165,-87.710747,Entire home/apt,88,1,0,NaN,NaN,2,365
7584,30040705,(A House on a Quiet Street),6529275,Maksim,NaN,Portage Park,41.957435,-87.745893,Entire home/apt,140,3,0,NaN,NaN,2,329
7585,30041063,(Quiet & Affordable Private BDR near UOC),225773707,LaShun,NaN,Woodlawn,41.777124,-87.594711,Private room,25,1,0,NaN,NaN,1,173
7586,30042584,(Entire Level in Old Town with Parking- Rare F...,41862889,Inna,NaN,Near North Side,41.909618,-87.637518,Entire home/apt,199,1,0,NaN,NaN,6,334
7587,30043302,"(5 BR Home in Best Area Walk to Nightlife, Mag...",41862889,Inna,NaN,Near North Side,41.909071,-87.636428,Entire home/apt,499,1,0,NaN,NaN,6,337
7588,30044842,"(5 month min, Remodeled Condo Incredible Locat...",100782278,Emily And Rich,NaN,West Town,41.890325,-87.653918,Entire home/apt,64,150,0,NaN,NaN,11,315
7589,30045293,(New! HGTV Featured 4br in Lincoln Park),143825988,Reserve,NaN,Lincoln Park,41.928398,-87.651257,Entire home/apt,999,2,0,NaN,NaN,33,185
7590,30047044,"(Artsy Bucktown, Chicago Home: Private Basement)",42122429,Mark,NaN,Logan Square,41.914813,-87.681206,Private room,75,1,0,NaN,NaN,4,74
7591,30047470,(Artsy Bucktown Home: Upstairs Bedroom),42122429,Mark,NaN,Logan Square,41.916816,-87.680809,Private room,65,1,0,NaN,NaN,4,77
7592,30047611,(Artsy Bucktown Home: Sleeps 6!),42122429,Mark,NaN,Logan Square,41.916983,-87.679712,Private room,150,1,0,NaN,NaN,4,76
7593,30048371,(Illinois Medical District/Little Italy Conven...,191244737,Ryan,NaN,Near West Side,41.872634,-87.686031,Private room,45,1,0,NaN,NaN,1,83

### TASK 1: INITIAL ANALYSIS
##### Description: Incorrect data types is almost always the first thing you inspect in a dataset. Make sure data type of each column (field) in your dataset is correct. We also want to check on some general information of the dataset such as numbers of columns and rows.

In [4]:
#Print out number of columns and rows
airbnb_df.shape

(7594, 16)

In [5]:
#Print out column name and data type of each column
airbnb_df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

### TASK 2: CLEANING TEXT FIELDS
##### Description: Text values often are the most dirty values in a dataset. There are many problems that you have to diagnosis and solve in text fields. Some of the most basic transformations are below

In [7]:
### Collapse consecutive white spaces in the name, host_name, neighbourhood and room_type columns

### Define function
def basic_transformations(df_column):
    #remove leading - trailing spaces
    clean_df_column = df_column.str.strip()
    
    #convert to Title case: title()
    #convert to Upper case: upper()
    #convert to Lower case: lower()
        
    #remove consecutive spaces
    clean_df_column = clean_df_column.replace('\s\s+', ' ', regex=True)
    
    print("row changes in column " + str(df_column.name) +": " ,sum(df_column!=clean_df_column))
    return clean_df_column

### Run function
airbnb_df['name_clean'] = basic_transformations(airbnb_df['name'])
airbnb_df['host_name_clean'] = basic_transformations(airbnb_df['host_name'])
airbnb_df['neighbourhood_clean'] = basic_transformations(airbnb_df['neighbourhood'])
airbnb_df['room_type_clean'] = basic_transformations(airbnb_df['room_type'])

print(airbnb_df.loc[airbnb_df['name']!=airbnb_df['name_clean'],['name','name_clean']].head(5))

row changes in column name:  198
row changes in column host_name:  17
row changes in column neighbourhood:  0
row changes in column room_type:  0
                                                 name  \
13  (Top 2/1  Block to Fullerton L Red Line Deck &...
35  (ALONZO:  Art-filled Flat in the Ukrainian Vil...
62  (Free Nights.  Minutes to McCormick Place And ...
65  (Free Nights.  Near Everything and McCormick P...
89               (Groovy on the Lake  private bd/bth)

                                           name_clean
13  (Top 2/1 Block to Fullerton L Red Line Deck & ...
35  (ALONZO: Art-filled Flat in the Ukrainian Vill...
62  (Free Nights. Minutes to McCormick Place And C...
65  (Free Nights. Near Everything and McCormick Pl...
89                (Groovy on the Lake private bd/bth)

In [9]:
### Advanced transformation:remove special/unwanted characters from text fields

### Define function
def remove_special_characters(df_column,bad_characters_list):
    clean_df_column = df_column
    for bad_char in bad_characters_list:
        clean_df_column = clean_df_column.str.replace(bad_char,' ')
        print("row changes in column " + str(df_column.name) + " after removing character " + str(bad_char) + ": " ,sum(df_column!=clean_df_column))
    return clean_df_column

### Run function
bad_chars_lst = ["*","!","?", "(", ")"]
airbnb_df['name_clean'] = remove_special_characters(airbnb_df['name'],bad_chars_lst)
display(airbnb_df[["name","name_clean"]].head(20))

row changes in column name after removing character *:  77
row changes in column name after removing character !:  1196
row changes in column name after removing character ?:  1409
row changes in column name after removing character (:  7594
row changes in column name after removing character ):  7594

,name,name_clean
0,(Hyde Park - Walk to UChicago/Theological Semi...,Hyde Park - Walk to UChicago/Theological Semi...
1,(Lincoln Park Oasis - Unit 2 ONLY),Lincoln Park Oasis - Unit 2 ONLY
2,(Tiny Studio Apartment 94 Walk Score),Tiny Studio Apartment 94 Walk Score
3,(Barbara's Hideaway - Old Town),Barbara's Hideaway - Old Town
4,(3 Comforts of Cooperative Living),3 Comforts of Cooperative Living
5,(The Biddle House (#1)),The Biddle House #1
6,(Chicago GOLD COAST 1 Bedroom Condo),Chicago GOLD COAST 1 Bedroom Condo
7,(Lincoln Park Guest House),Lincoln Park Guest House
8,(*** Luxury in Chicago! 2BR/ 2Ba / Parking / B...,Luxury in Chicago 2BR/ 2Ba / Parking / B...
9,(beautifully furnished 3 bed/1bath 1),beautifully furnished 3 bed/1bath 1
10,(Private Apt 1 Block to Fullerton L Red Line -...,Private Apt 1 Block to Fullerton L Red Line -...
11,(Wrigleyville beautifully furnished 3 bedroom #2),Wrigleyville beautifully furnished 3 bedroom #2
12,"(Old Town, Furnished 2 bedroom: SWG)","Old Town, Furnished 2 bedroom: SWG"
13,(Top 2/1 Block to Fullerton L Red Line Deck &...,Top 2/1 Block to Fullerton L Red Line Deck &...
14,(Andersonville - Perfect location!),Andersonville - Perfect location
15,(Central guestroom! Walk everywhere!),Central guestroom Walk everywhere
16,(2 Bedroom 1 Block to Fullerton L - Garage Avail),2 Bedroom 1 Block to Fullerton L - Garage Avail
17,( Furnished Junior 1 Bedroom :SW1R),Furnished Junior 1 Bedroom :SW1R
18,(Old Town Lincoln Park studio: 2F),Old Town Lincoln Park studio: 2F
19,(1 Bedrm 1 block from Wrigley Field),1 Bedrm 1 block from Wrigley Field

### Task 3: HANDLE MISSING VALUES
##### Description: Missing values (aka. blank/empty values) are often treated as Null/NaN values in most programming languages. Identifying and handling missing values is very important in data cleaning. Columns and rows with too many NaN values are not imformative and should be considered to be removed.

In [11]:
### Identify columns with too many missing values
for col in airbnb_df.columns:
    percentage_missing = np.mean(airbnb_df[col].isnull())
    print('{} - {}%'.format(col, round(percentage_missing*100)))

### View the missing values in last_reviews.
display(airbnb_df.loc[airbnb_df["last_review"].isnull(),['id','name','last_review']])

id - 0.0%
name - 0.0%
host_id - 0.0%
host_name - 0.0%
neighbourhood_group - 100.0%
neighbourhood - 0.0%
latitude - 0.0%
longitude - 0.0%
room_type - 0.0%
price - 0.0%
minimum_nights - 0.0%
number_of_reviews - 0.0%
last_review - 12.0%
reviews_per_month - 12.0%
calculated_host_listings_count - 0.0%
availability_365 - 0.0%
name_clean - 0.0%
host_name_clean - 0.0%
neighbourhood_clean - 0.0%
room_type_clean - 0.0%

            id                                               name last_review
55      265238     (Bohemian Chic in the heart of Lincoln Square)         NaN
127     789429                  (Guest bedroom with private bath)         NaN
128     789670  (Spacious space in Bucktown 10 min. from the l...         NaN
141     918314                (Spacious 4 Bed Wicker Park Condo )         NaN
164    1129741                  (Large modern apartment near CTA)         NaN
222    1684266                                         (Room One)         NaN
258    2117388                                         (Room Two)         NaN
259    2117401                                       (Room Three)         NaN
260    2117415                                        (Room Four)         NaN
261    2117550                                        (Room Five)         NaN
366    3373118              (2-BR, 2-BA LUXURY CONDO HUMBOLDT PK)         NaN
458    4125026          (New! Cozy & quiet Studio/Great Location)         NaN
505    4539815               (West Loop Loft on "Restaurant Row")         NaN
509    4583322                (Old Town, 2B/3B 4-level townhouse)         NaN
541    4849968              (Charming, large 1 bedroom for you!!)         NaN
564    5185790              (Unique 6,000 Foot Converted Factory)         NaN
626    5858718               (Wrigleyville/Lakeview Luxury Condo)         NaN
788    6821346                           (Center of the Universe)         NaN
815    6972944                      (Celebracio`n Special Events)         NaN
836    7106945               (SpaciousCondo steps from Blue Line)         NaN
867    7305321                      (Beautiful Wicker Park Condo)         NaN
905    7579116                          (LUXURY GOLD COAST CONDO)         NaN
970    7936724                (Unobstructed Corner Unit 5* BLDNG)         NaN
1012   8151935                        (Lincoln Park condo 2 bdrm)         NaN
1050   8370915     (Exquisite Luxury 3br/2ba With Parking & Yard)         NaN
1062   8470408      (Excellent Location by Mag Mile Luxury Condo)         NaN
1114   8754236  (House for cost of a private room! Near UofChi...         NaN
1152   9032209                    (Lovely house in Andersonville)         NaN
1184   9317188  (Great city Views-Old town, min away from the ...         NaN
1225   9591390  (Furnished Rental With Complimentary Garage Spot)         NaN
...        ...                                                ...         ...
7562  29968600        (D2 - Chicago Downtown View - Private Room)         NaN
7563  29968830        (D3 - Downtown View Chicago - Private Room)         NaN
7564  29970328     (Cozy 2BR Apartment Near Downtown, UIC & Rush)         NaN
7565  29979448   (Magnificent art-filled loft in Chicago's Loop!)         NaN
7566  29979674      (LUX 2BR/2BA on the PARK in Downtown Chicago)         NaN
7568  29982622  (Better Than a Hotel!! Lakeview East/Wrigleyvi...         NaN
7569  29983208                       (modern studio in west loop)         NaN
7570  29985017     (Luxury living downtown. Monthly rental only!)         NaN
7571  29985217  (Massive 2-Story Home ??? Lincoln Park w/ Balc...         NaN
7573  29989492  (Charming Garden Apartment Near UIC & Free Par...         NaN
7574  29995896         (Spacious 1BR in Hyde Park with park view)         NaN
7575  30010595  (Cozy Stydio Near Chicago Theatre, Millennium ...         NaN
7576  30012951  (Modern 3 Bedroom 2 Bath Apartment in Wrigleyv...         NaN
7577  30013572  (Modern 3 Bedroom 2 Bath Apartment w/ Free Par...         NaN
7578  30014118                     (Single Bed in Shared Room #1)         NaN
7579  30014242  (BEAUTIFUL DOWNTOWN ROOM & PARKING, 7 MIN TO W...         NaN
7580  30014468                        (Bottom Bunk - Shared Room)         NaN
7581  30014520                           (Top Bunk - Shared Room)         NaN
7582  30016223        (PERFECT ROOM TO SEE CHICAGO, FREE PARKING)         NaN
7583  30023762  (Close to Downtown Chicago. Sleeps up to 4 peo...         NaN
7584  30040705                        (A House on a Quiet Street)         NaN
7585  30041063          (Quiet & Affordable Private BDR near UOC)         NaN
7586  30042584  (Entire Level in Old Town with Parking- Rare F...         NaN
7587  30043302  (5 BR Home in Best Area Walk to Nightlife, Mag...         NaN
7588  30044842  (5 month min, Remodeled Condo Incredible Locat...         NaN
7589  30045293           (New! HGTV Featured 4br in Lincoln Park)         NaN
7590  30047044   (Artsy Bucktown, Chicago Home: Private Basement)         NaN
7591  30047470            (Artsy Bucktown Home: Upstairs Bedroom)         NaN
7592  30047611                   (Artsy Bucktown Home: Sleeps 6!)         NaN
7593  30048371  (Illinois Medical District/Little Italy Conven...         NaN

[895 rows x 3 columns]

In [12]:
### Identify rows with too many missing values

### Create missing indicator for features with missing data
for col in airbnb_df.columns:
    missing = airbnb_df[col].isnull()
    num_missing = np.sum(missing)
    if num_missing > 0:  
        airbnb_df['{}_ismissing'.format(col)] = missing

### Based on the indicator, count number of Nan values in each row
ismissing_cols = [col for col in airbnb_df.columns if 'ismissing' in col]
airbnb_df['num_missing'] = airbnb_df[ismissing_cols].sum(axis=1)

### Display rows with number of Nan values more than n (n=3)
display(airbnb_df[airbnb_df["num_missing"] >= 3].head(5))

### Remove rows with number of Nan values more than n (n=3)
ind_missing = airbnb_df[airbnb_df['num_missing'] >= 3].index
df_less_missing_rows = airbnb_df.drop(ind_missing, axis=0)


print ("Number of rows BEFORE cleaning missing values: ", airbnb_df.shape[0])
print ("Number of rows AFTER cleaning missing values: ", df_less_missing_rows.shape[0])

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,...,name_clean,host_name_clean,neighbourhood_clean,room_type_clean,host_name_ismissing,neighbourhood_group_ismissing,last_review_ismissing,reviews_per_month_ismissing,host_name_clean_ismissing,num_missing
55,265238,(Bohemian Chic in the heart of Lincoln Square),1382472,Ani,NaN,North Center,41.960841,-87.684630,Entire home/apt,75,...,Bohemian Chic in the heart of Lincoln Square,Ani,North Center,Entire home/apt,False,True,True,True,False,3
127,789429,(Guest bedroom with private bath),1185573,Graz Anton,NaN,Uptown,41.961926,-87.662377,Private room,99,...,Guest bedroom with private bath,Graz Anton,Uptown,Private room,False,True,True,True,False,3
128,789670,(Spacious space in Bucktown 10 min. from the l...,4161186,Christine,NaN,Logan Square,41.916606,-87.671591,Private room,225,...,Spacious space in Bucktown 10 min. from the l...,Christine,Logan Square,Private room,False,True,True,True,False,3
141,918314,(Spacious 4 Bed Wicker Park Condo ),3636846,Quinn,NaN,West Town,41.911387,-87.685168,Private room,50,...,Spacious 4 Bed Wicker Park Condo,Quinn,West Town,Private room,False,True,True,True,False,3
164,1129741,(Large modern apartment near CTA),4778146,Mila,NaN,East Garfield Park,41.882817,-87.720264,Entire home/apt,80,...,Large modern apartment near CTA,Mila,East Garfield Park,Entire home/apt,False,True,True,True,False,3

Number of rows BEFORE cleaning missing values:  7594
Number of rows AFTER cleaning missing values:  6696

### TASK 4: MANIPULATE DATA FOR ANALYSIS PURPOSES
##### Description: Sometimes, data cleaning also includes steps to change/manipulate data to different formats, so it can be used for further analysis purposes.

In [13]:
### Split date time to year/month/date, check if there is any year out of range
from datetime import datetime
import calendar

### Define function to extract time column and sepatate date time to year/moth/date
def extract_time(time_str):
    if time_str == "nan":
        year = "N/A"
        month = "N/A"
        day = "N/A"
    else:
        datetime_object = datetime.strptime(time_str,'%m/%d/%y')
        year = datetime_object.year
        month = datetime_object.month
        day = datetime_object.day        
    return [year, month, day]

#read the last review date column and add new year, month, day columns
last_review_date_column = airbnb_df["last_review"]
new_date_columns_df = pd.DataFrame(columns = ["year","month","day"])
for date in last_review_date_column:
    new_date_columns = extract_time(str(date)) 
    new_date_columns_df = new_date_columns_df.append(pd.Series(new_date_columns, index=['year','month','day']), ignore_index=True)
    
airbnb_df["year"] = new_date_columns_df["year"] 
airbnb_df["month"] = new_date_columns_df['month']
airbnb_df["day"] = new_date_columns_df["day"]

display (airbnb_df[["last_review","year","month","day"]].head(10))

  last_review  year month day
0    11/12/18  2018    11  12
1     8/12/18  2018     8  12
2    10/29/18  2018    10  29
3    10/14/18  2018    10  14
4     7/29/18  2018     7  29
5     11/5/18  2018    11   5
6    10/24/17  2017    10  24
7    10/17/18  2018    10  17
8    10/12/14  2014    10  12
9    10/21/18  2018    10  21

### TASK 5: ADVANCED ANALYSIS AND CLEANING TASKS

##### Description: Clustering text fields in order to identify spelling mistakes using Abydos library. Abydos is a library of phonetic algorithms, string distance measures & metrics, stemmers, and string fingerprinters. Link: https://github.com/chrislit/abydos

In [14]:
from abydos import fingerprint
from abydos import distance
from collections import Counter 
from IPython.display import display, HTML

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

#### "Binning" clustering (same with Key Collision method in OpenRefine): strings that have the same "key" (the most valuable or meaningful part of the strings) would be clustered into the same "bin" or "bucket". The "keys" can be extracted from strings using different algorithms, such as: fingerprint, phonetic fingerprint, n-gram fingerprint.

In [15]:
def fingerprint_cluster(function, column):
    fingerprints = [(function.fingerprint(x),x) for x in column]    
    fingerprint_df = pd.DataFrame()
    
    fingerprint_list = []
    for item in fingerprints:
         fingerprint_list.append(item[0])
    
    fingerprint_df['text'] = column
    fingerprint_df['fingerprint'] = fingerprint_list
    grouby_df = fingerprint_df.groupby('fingerprint') 

    cluster_list = []
    text_list = []
    fingerprint_list = []
    
    cluster_id = 0
    for name_of_the_group, group in grouby_df:
        fingerprint = name_of_the_group
        text = group["text"]
        text = text.tolist()
        text_counts = Counter(text)
        if len(text_counts) > 1:
            cluster_list.append(cluster_id)
            text_list.append(text_counts)
            fingerprint_list.append(fingerprint)
        cluster_id +=1
     
    output_df = pd.DataFrame()
    output_df["Cluster Id"] = cluster_list
    output_df["Fingerprint"] = fingerprint_list
    output_df["Cluster Items"] = text_list
    
    return output_df

In [17]:
# Binning clustering using different fingerprint algorithms
# You can change any other fingerprint algorithm here

print ("Clusters BEFORE fixing spelling mistakes:")
cluster_df = fingerprint_cluster(fingerprint.QGram(), airbnb_df["neighbourhood"])
display(HTML(cluster_df.to_html(index=False)))

print ("\n")

print ("Clusters AFTER fixing spelling mistakes:")
airbnb_df.loc[airbnb_df['neighbourhood'] == 'OHARE', 'neighbourhood'] = "O'hare"
cluster_df = fingerprint_cluster(fingerprint.QGram(), airbnb_df["neighbourhood"])
display(HTML(cluster_df.to_html(index=False)))

Clusters BEFORE fixing spelling mistakes:

Clusters AFTER fixing spelling mistakes:

#### "Distance" clustering: strings are clustered based on the "distances" between them.  Distance between each pair of strings in the dataset would be calculated. And strings that have distances below a threshold would be clustered together.

In [18]:
def distance_cluster(distance_func, column,dis_threshold):
    column_count = column.tolist()
    value_counts = Counter(column_count)
       
    column_set = list(set(column))
    #print (len(column_set))
    
    distance_dict ={}
    for i in range(0,len(column_set)):
        distance_dict[column_set[i]]={}
        for j in range (0, len(column_set)):
            distance = distance_func.dist(column_set[i],column_set[j])
            distance_dict[column_set[i]][column_set[j]] = distance
    
    cluster_item = {}
    for key, value in distance_dict.items():
        root_item = key
        cluster_item[key] = []
        for neighbour_item, distance in value.items():
            if distance <= dis_threshold:
                cluster_item[key].append(neighbour_item)
                
    cluster_dict = {}
    cluster_id = 0
    for key, values in cluster_item.items():
        cluster_dict[cluster_id] = []
        cluster_dict[cluster_id].append(key)
        for value in values:
            if value not in cluster_dict[cluster_id]:
                cluster_dict[cluster_id].append(value)
        cluster_id +=1
    
    cluster_id_list = []
    cluster_value_list = []
    for key, values in cluster_dict.items():
        if len(values) > 1:
            cluster_id_list.append(key)
            value_dict = {}
            for value in values:
                count = value_counts[value]
                value_dict[value] = count

            cluster_value_list.append(value_dict)
        
    output_df = pd.DataFrame()
    output_df["Cluster Id"] = cluster_id_list
    output_df["Cluster Items"] = cluster_value_list
    return output_df

In [19]:
# Distance clustering using different distance metrics
# You can change any other distance metric here    

cluster_df = distance_cluster(distance.Levenshtein(),airbnb_df["neighbourhood"],0.25)
display(HTML(cluster_df.to_html(index=False)))